name: release-please
on:
  push:
    branches:
      - main

jobs:
  release-please:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}

    steps:
      - id: get-secrets
        name: get secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@64d7698a3d282a5abf9980e5771b4cc78260140e
        with:
          repo_secrets: |
            FARO_SMU_CI_APP_ID=github:app-id
            FARO_SMU_CI_PRIVATE_KEY=github:private-key

      - uses: actions/create-github-app-token@21cfef2b496dd8ef5b904c159339626a10ad380e # v1.11.6
        name: get github app token
        id: get-github-app-token
        with:
          app-id: ${{ env.FARO_SMU_CI_APP_ID }}
          private-key: ${{ env.FARO_SMU_CI_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            faro-javascript-bundler-plugins

      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38
        id: release
        with:
          token: ${{ steps.get-github-app-token.outputs.token }}
          config-file: release-please-config.json
          manifest-file: release-please-manifest.json

      - name: log context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
          NEEDS_CONTEXT: ${{ toJson(needs) }}
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: |
          echo "$GITHUB_CONTEXT"
          echo "$NEEDS_CONTEXT"
          echo "$STEPS_CONTEXT"

  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    needs: release-please
    permissions:
      contents: write
      id-token: write
    if: ${{ needs.release-please.outputs.releases_created }}
    steps:
      - id: get-secrets
        name: get secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@64d7698a3d282a5abf9980e5771b4cc78260140e
        with:
          repo_secrets: |
            NPM_TOKEN=npm:token

      - name: Checkout
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          persist-credentials: false
          ref: main

      - name: Setup .npmrc file for NPM registry
        uses: actions/setup-node@dda4788290998366da86b6a4f497909644397bb2
        with:
          node-version: 20.x
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        uses: borales/actions-yarn@f46b5a247707facb0ce09d4604b4fbacb5f1a8ba
        with:
          cmd: install --frozen-lockfile

      - name: Run tests
        run: |
          yarn build
          # Retry tests 3 times
          yarn test || yarn test || yarn test

      - name: Build production bundle
        uses: borales/actions-yarn@f46b5a247707facb0ce09d4604b4fbacb5f1a8ba
        with:
          cmd: build

      - name: Publish package to NPM
        run: |
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
          yarn run publish from-package --yes --no-verify-access
        env:
          NPM_TOKEN: ${{ env.NPM_TOKEN }}