name: release-please
on:
  push:
    branches:
      - main

jobs:
  release-please:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}

    steps:
      - id: get-secrets
        name: get secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@0a7a2fc07560de0f2fe500ed9fd1f53ec7d86d33
        with:
          repo_secrets: |
            FARO_SMU_CI_APP_ID=github:app-id
            FARO_SMU_CI_PRIVATE_KEY=github:private-key

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        name: get github app token
        id: get-github-app-token
        with:
          app-id: ${{ env.FARO_SMU_CI_APP_ID }}
          private-key: ${{ env.FARO_SMU_CI_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            faro-javascript-bundler-plugins

      - uses: googleapis/release-please-action@8bb7a2ed0f90c9802c83129a9488d235a1f31a7c
        id: release
        with:
          token: ${{ steps.get-github-app-token.outputs.token }}
          config-file: release-please-config.json
          manifest-file: release-please-manifest.json

      - name: log context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
          NEEDS_CONTEXT: ${{ toJson(needs) }}
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: |
          echo "$GITHUB_CONTEXT"
          echo "$NEEDS_CONTEXT"
          echo "$STEPS_CONTEXT"

  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    environment: npm-trusted-publishing
    needs: release-please
    permissions:
      contents: write
      id-token: write
    if: ${{ needs.release-please.outputs.releases_created }}
    steps:
      - id: get-secrets
        name: get secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@0a7a2fc07560de0f2fe500ed9fd1f53ec7d86d33
        with:
          repo_secrets: |
            NPM_TOKEN=npm:token

      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          persist-credentials: false
          ref: main

      - name: Setup .npmrc file for NPM registry
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: 20.x
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        uses: borales/actions-yarn@83f6fa8b4173db031e849a91b8749229ba490e77
        with:
          cmd: install --frozen-lockfile

      - name: Run tests
        run: |
          yarn build
          # Retry tests 3 times
          yarn test || yarn test || yarn test

      - name: Build production bundle
        uses: borales/actions-yarn@83f6fa8b4173db031e849a91b8749229ba490e77
        with:
          cmd: build

      - name: Publish package to NPM
        run: yarn run publish from-package --yes