name: run-tests
on:
  pull_request:

jobs:
  renovate-reviewer:
    name: Renovate reviewer
    permissions:
      pull-requests: write
      contents: write
      # This permission is needed to assume roles from Github's OIDC.
      id-token: write
    uses: ./.github/workflows/renovate-reviewer.yml

  run-tests:
    name: Testing with Node version (${{ matrix.node }})
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        node: [20.x, 22.x, 24.x, 25.x]
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0

      - name: Setup NPM
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: ${{ matrix.node }}
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        uses: borales/actions-yarn@1be4666c97f9161456e895d0c72460417a78cf45
        with:
          cmd: install --frozen-lockfile

      - name: Run tests
        run: |
          yarn build
          # Retry tests 3 times
          yarn test || yarn test || yarn test

      - name: Build production bundle
        uses: borales/actions-yarn@1be4666c97f9161456e895d0c72460417a78cf45
        with:
          cmd: build
