name: run-tests
on:
  pull_request:

jobs:
  run-tests:
    name: Testing with Node version (${{ matrix.node }})
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        node: [18.x, 20.x, 22.x, 23.x]
    steps:
      - name: Checkout
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0

      - name: Setup NPM
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610
        with:
          node-version: ${{ matrix.node }}
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        uses: borales/actions-yarn@3766bb1335b98fb13c60eaf358fe20811b730a88
        with:
          cmd: install --frozen-lockfile

      - name: Run tests
        run: |
          yarn build
          # Retry tests 3 times
          yarn test || yarn test || yarn test

      - name: Build production bundle
        uses: borales/actions-yarn@3766bb1335b98fb13c60eaf358fe20811b730a88
        with:
          cmd: build
